.projects{
    padding: 2% 3%;
}
.projects h1{
    text-align: center;
    font-size: 2.5rem;
    color: #ECA427;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2%;
    text-align: center;
}


.projects-container a{
    text-decoration: none;
    color: rgb(135, 135, 135);
}

.projects-item{
    height: 100%;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #FF921C;
}

.projects-title{
    color: #ECA427;
}

.projects-item h5{
    margin-top: 0.4rem;
}

.projects-item p{
    font-size: 0.7rem;
    color: rgb(36, 36, 36);
}

.projects-item:hover{
    position: relative;
    bottom: 10px;
    box-shadow: 3px 3px 5px 2px #727272;;
    border: none;
}

.projects-item:active{
    background-color: rgb(192, 192, 192);
}



@media (max-width : 950px){
    .projects-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}

@media (max-width : 600px){
    .projects-container{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2rem;
    }
}